<!DOCTYPE html>
<html data-ng-app ="WhatAtreat">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!--===============================================================================================-->

<!--============================ Include the AngularJS library =================================== -->
    <script src="../js/angular/angular.js"></script>
	<script src="../js/angular/angular-route.js"></script>
<!--===============================================================================================-->

<!--====================================  Modules ================================================ -->
	<script src="../js/app.js"></script>
    <script src="../js/factories/chollosFactory.js"></script>
    <script src="../js/factories/userFactory.js"></script>
    <script src="../js/factories/shopFactory.js"></script>
    <script src="../js/controllers/userCtrl.js"></script>
	<script src="../js/controllers/cholloCtrl.js"></script>
	<script src="../js/controllers/shopCtrl.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/checkbox.css">
	<link href="../css/cssRegistro.css" rel="stylesheet" >
<!--===============================================================================================-->
<!--===============================================================================================-->
</head>
<body>

    <header>
    	<a href="/What_a_treat/pages/Index.html">
        	<img class="Logo" src="../img/LogoWeb.png">
        </a>
    </header>
    
	<div class="container-contact100">
		<div data-ng-controller="cholloCtrl as cholloVM" class="wrap-contact100">
			<form data-ng-submit="cholloVM.functions.cholloHandlerSwitcher()" class="contact100-form validate-form">
				<span data-ng-show="cholloVM.functions.where('/newChollo')" class="contact100-form-title">
					Publica tu chollo
				</span>
				
				<span data-ng-show="cholloVM.functions.where('/user/deleteChollo')" class="contact100-form-title">
					Eliminar chollo
				</span>
				
				<span data-ng-show="cholloVM.functions.where('/user/updateChollo')" class="contact100-form-title">
					Editar el chollo
				</span>

				<div class="wrap-input100 validate-input bg1" data-validate="Porfavor Introduce el titulo del chollo">
					<span class="label-input100">Titulo *</span>
					<input data-ng-model="cholloVM.chollo.title" class="input100" type="text" name="titulo" placeholder="Titulo del chollo"
					data-ng-readonly="cholloVM.functions.where('/user/deleteChollo')" ng-required="string"/>
				</div>
                
                <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Porfavor introduzca una descripcion">
					<span class="label-input100">Descripcion *</span>
					<textarea data-ng-model="cholloVM.chollo.description"  data-ng-readonly="cholloVM.functions.where('/user/deleteChollo')" class="input100" name="descripcion" placeholder="Descripcion del chollo" ng-required="string"></textarea>
				</div>
                
                <div class="wrap-input100 validate-input bg1" data-validate="Link al chollo https://www.">
					<span class="label-input100">Enlace al chollo *</span>
					<input data-ng-model="cholloVM.chollo.link" class="input100" type="url" name="link" placeholder="https://www."
					data-ng-readonly="cholloVM.functions.where('/user/deleteChollo')" ng-required="string"/>
				</div>
                
                <div class="wrap-input100 validate-input bg1">
					<span class="label-input100">Enlace de a la foto</span>
					<input data-ng-model="cholloVM.chollo.imagen" class="input100" type="url" name="imagen" placeholder="https://www."
					data-ng-readonly="cholloVM.functions.where('/user/deleteChollo')"/>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Introduzca el precio">
					<span class="label-input100">Precio *</span>
					<input data-ng-disabled="cholloVM.functions.where('/user/deleteChollo')" data-ng-model="cholloVM.chollo.price" class="input100" type="number" name="precio" placeholder="Precio del chollo"
					data-ng-readonly="cholloVM.functions.where('/user/deleteChollo')" required/>
				</div>
                
				<div data-ng-controller="shopCtrl as shopVM" class="wrap-input100 input100-select bg1" style="width: calc((100% - 30px) / 2);">
					<span class="label-input100">Tienda *</span>
					<div>
						<select  data-ng-disabled="cholloVM.functions.where('/user/deleteChollo')" class="js-select2" name="shop">
							<option data-ng-model="cholloVM.chollo.ids" data-ng-repeat = "shop in shopVM.shopList" value={{shop.id}} ng-selected ="cholloVM.chollo.ids == shop.id">{{shop.name}}</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div data-ng-show="cholloVM.functions.where('/user/updateChollo')" class="container" style="width: fit-content;margin: inherit;">
					<ul class="ks-cboxtags">
						<li>
						<input value="1" name="soldout" data-ng-model="cholloVM.chollo.soldout" type="checkbox" id="checkboxOne"><label for="checkboxOne">Agotado</label>
						</li>
					</ul>
				</div>
				
				<div data-ng-show="cholloVM.functions.where('/user/deleteChollo')" class="container" style="width: fit-content;margin: inherit;">
					<ul class="ks-cboxtags">
						<li>
						<input data-ng-disabled="cholloVM.functions.where('/user/deleteChollo')" type="checkbox" id="checkboxOne"value="Rainbow Dash"><label for="checkboxOne">Agotado</label>
						</li>
					</ul>
				</div>

				<div data-ng-show="cholloVM.functions.where('/newChollo')" class="container-contact100-form-btn">
					<button  class="contact100-form-btn" type="submit">
						<span>
							Publicar
							<i class="fas fa-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				
				<div data-ng-show="cholloVM.functions.where('/user/updateChollo')" class="container-contact100-form-btn">
					<button  class="contact100-form-btn" type="submit">
						<span>
							Editar
							<i class="fas fa-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				
				<div data-ng-show="cholloVM.functions.where('/user/deleteChollo')" class="container-contact100-form-btn">
				<button class="contact100-form-btn-delete" type="submit">
						<span>
							Eliminar
							<i class="fas fa-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
				</button>
				</div>
				
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="../js/formularioCholloNew.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
