<div>
<div data-ng-repeat="chollos in cholloListVM.listChollos" class="cholloBox">
	<div class="cholloImagen">
		<a ng-href= "#!/chollo/{{ chollos.id }}" alt=""> 
			<img data-ng-src="{{chollos.imagen}}">
		</a>
	</div>
	<div class="textoChollo">
		<div>
			<p>Likes: {{ chollos.likes }}</p>
		</div>
		<h3>{{ chollos.title }}</h3>
		<div class="precioTienda">
			<h4>{{ chollos.price }}</h4>
			<p data-ng-on ="cholloListVM.function.readShopName({{chollos.ids}})">{{cholloListVM.shopObj.name}}</p>
		</div>
		<p>{{ chollos.description }}</p>
	</div>
	<img ng-if="chollos.soldout == 1" src="../img/sold-out.png" style="position: absolute;width: 584.047px;height: 175px;margin-left: 144px;">
</div>
</div>