* {
	box-sizing: border-box;
}

::placeholder {
	color: #0093c4;
	font-weight: bold;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}



.row {
	background-color: #809298;
}

body {
	display: block;
	margin: 0;
	margin-bottom: 90px;
}

html {
	font-family: "Robot", sans-serif;
	min-height: 100%;
    position: relative;
    background-color: #F7F7F7;
}

button{
	font-family: "Robot", sans-serif;
}

.imagenUsuarioPublicaccion{
	width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
	
}

a{
	width: fit-content;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}


h1,h2,h3,h4,h5{
	margin-bottom: 0;
	margin-top: 0;
}

@media only screen and (min-width: 1368px) {
	/* For desktop: */
	.col-3 {
		width: 23%;
		float: right;
		margin-top: 174px;
		margin-bottom: 1000px;
	}
	.mainContainer {
		width: 80%;
		padding-right: 30px;
	}

	/*------------------------------------------------*/
	/*------------------------------------------------*/
	/*--------------------HEADER----------------------*/
	/*------------------------------------------------*/
	/*------------------------------------------------*/
	header {
		position: sticky;
		top: 0;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 28px;
		padding-top: 12px;
		display: inline-flex;
		background-color: #002531;
		color: #2a80b9;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		height: 84px;
		box-shadow: 0 0.23077rem 0.38462rem 0 rgba(0, 0, 0, .25);
	}

	/*--------------Seccion del logo--------------------*/
	header .seccionLogo {
		display: inline-flex;
		align-items: center;
		align-self: center;
		justify-content: space-between;
		margin-left: 36px;
	}
	header .seccionLogo .boton {
		background-color: transparent;
		display: flex;
		margin: 0;
	}
	header .seccionLogo .boton span .material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 40px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
	}
	header .seccionLogo a {
		display: flex;
		margin-left: 81px;
	}
	.Logo {
		width: 167px;
		height: 72px;
	}

	/*---------------Fin Seccion del logo-----------------*/

	/*---------------Seccion buscador---------------------*/
	header .buscador {
        display: inline-flex;
        width: 27%;
        margin-left: 16%;
	}
	header .buscador>div {
		margin: 0;
	}
	header .buscador .searchBox {
		width: 66%;
	}
	header .buscador>form{
		    display: contents;
	}
	header .buscador>form>div>input {
		height: 33px;
		border-bottom-left-radius: 18px;
		border-top-left-radius: 18px;
		border-style: solid;
		border-color: #0093c4;
		border-right: none;
		background-color: transparent;;
		width: 100%;
		padding-left: 15px;
		font-size: medium;
		color: white;
		font: inherit;
		font-weight: bold;
	}
	input[type="search" i] {
		-webkit-appearance: none;
	}
	header .buscador div>button {
		background-color: transparent;
		border-style: solid;
		border-color: #0093c4;
		border-bottom-right-radius: 18px;
		border-top-right-radius: 18px;
		border-left: none;
		height: 33px;
		color: #0093c4;
	}
	/*---------------Fin seccion buscador--------------------*/

	/*---------------Seccion Botones Usuario-----------------*/
	header .botonesUsuario {
        display: inline-flex;
        width: 14%;
        justify-content: space-between;
        margin-right: 10%;
	}
	header .botonesUsuario>a {
		max-width: 136px;
		max-height: 46px;
		display: inherit;
		text-align: center;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
	}
	header .botonesUsuario>a .icono .material-icons {
		display: flex;
		font-size: 41px;
	}
    
	/*-------------Fin seccion Botones Usuario----------------*/

	/*------------------------------------------------*/
	/*------------------------------------------------*/
	/*---------------------NAV------------------------*/
	/*------------------------------------------------*/
	/*------------------------------------------------*/
	nav {
		float: right;
		list-style: none;
		transition: margin .2s ease-out 0s;
		background-color: #308CAA;
		color: white;
		font-weight: bold;
		padding-left: 25px;
		height: 25px;
		transition: 0.3s;
		width: 100%;
    	padding-left: 14%;
	}
	nav>p {
		margin: 0;
		margin-top: 5px;
	}
    
    .publicarChollo{
       
        top: 89px;
        width: 240px;
        z-index: 1000;
        height: 120px;
        float: right;
            margin-left: 56%;
        background-color: #002531;
        position: fixed;
        
    }
    
    .publicarChollo>div{
        text-decoration: none;
        cursor: pointer;
        margin: 9px;
        display: grid;
        grid-row-gap: 25px;

    }
    
    .publicarChollo>div>a{
        color: #2a80b9;
        cursor: pointer;
        text-decoration: none;
        width: 70%;

    }
    
    .publicarChollo>div>a:hover{
        color: #95C0DC;
    }
    
    .verPerfil{
        
        top: 89px;
        width: 164px;
        z-index: 1000;
        height: 76px;
        float: right;
        margin-left: 69%;
        background-color: #002531;
        position: fixed;
        
    }
    
    .verPerfil>div{
        text-decoration: none;
        cursor: pointer;
        margin: 9px;
        display: grid;
        grid-row-gap: 14px;
    }
    
    .verPerfil>div>a{
        color: #2a80b9;
        cursor: pointer;
        text-decoration: none;
    }
    
    .verPerfil>div>a:hover{
        color: #95C0DC;
    }
    
    

	/*------------------------------------------------*/
	/*------------------------------------------------*/
	/*---------------------ROW------------------------*/
	/*------------------------------------------------*/
	/*------------------------------------------------*/

	/*------Seccion Navegacion desplegable------------*/
	.row .navegacion {
		height: 100%;
		width: 250px;
		position: fixed;
		z-index: 1;
		left: 0;
		background-color: #002531;
		overflow-x: hidden;
		transition: 0.3s;
		list-style: none;
		margin: 0;
		padding: 0;
		box-shadow: 0 0.23077rem 0.38462rem 0 rgba(0, 0, 0, .25);
		display: block;
	}
	.row .navegacion li {
		background-color: transparent;
		padding: 8px 8px 8px 0px;
		text-decoration: none;
		font-size: 23px;
		color: #0093c4;
		transition: 0.3s;
		width: 48%;
		font-weight: 600;
		margin-left: 32px;
		display: block;
	}
	.row .navegacion li>div {
		visibility: hidden;
		width: 0;
		height: 0;
		opacity: 0;
		display: block;
		margin-left: 25px;
		transition: height 0.6s;
	}
	.row .navegacion>li>div>a {
		color: white;
		text-decoration: none;
		font-size: 15px;
	}
	.row .navegacion li:hover {
		color: #005C7B;
		cursor: context-menu;
	}
	.row .navegacion li:hover>div {
		visibility: visible;
		width: 108px;
		height: 290px;
		opacity: 1;
		transition: width 0.6s, height 0.6s, opacity 1s;
	}
	
	.row .navegacion li:hover>div>a{
		display: list-item;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	
	.mainContainer {
		display: table;
		float: right;
		transition: margin .2s ease-out 0s;
	}
	.aside {
		background-color: #33b5e5;
		padding: 15px;
		color: #ffffff;
		text-align: center;
		font-size: 14px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}
	.footer {
	    background-color: #002531;
	    color: #ffffff;
	    font-size: 12px;
	    padding: 15px;
	    display: grid;
	    grid-template-columns: 70% 30%;
	    padding-left: 15%;
	    padding-right: 2%;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: 90px;
	}
	.footer > .IconosSocialMedia{
		display: inline-flex;
    	justify-content: space-between;
    	align-items: center;
	}
	
	
	.col-6 {
		width: 75%;
		float: left;
		margin-top: 2%;
	}
	.mainContainer>.col-6>.cholloBox {
		margin-bottom: 2%;
		margin-top: 2%;
		display: grid;
		grid-gap: 10px;
		background-color: white;
		box-shadow: 0 0.23077rem 0.38462rem 0 rgba(0, 0, 0, .25);
		padding-left: 15px;
    	padding-right: 15px;
    	padding-top: 15px;
	}
    .mainContainer>.col-6>.cholloBox>.imgTitleUser{
        display: grid;
        grid-template-columns: 20% 70%;
        grid-template-rows: 100%;
        
    }
	
	.mainContainer>.col-6>.cholloBox>.imgTitleUser>div>img{
		width: 160px;
		height: 160px;
	}
	
	.mainContainer>.col-6>.cholloBox>.imgTitleUser>.TitleUser{
		    padding-top: 25px;
	}
	
	.mainContainer>.col-6>.cholloBox>.imgTitleUser>.TitleUser>div{
		display: inline-flex;
	    justify-content: space-between;
	    width: 50%;
	    margin-top: 15px;
	    align-items: center;
	}
	
	.mainContainer>.col-6>.cholloBox>.imgTitleUser>.TitleUser>div>div{
		display: inline-flex;
	   
	    width: 50%;
	   
	    align-items: center;
	}
	
	.mainContainer>.col-6>.cholloBox>.imgTitleUser>.TitleUser>div>div>img{
		width: 22px;
		height: 22px;
		border-radius: 50%;
		margin-right: 10px;
	}
	
    .mainContainer>.col-6>.cholloBox>.TitleUser{
        display: grid;
        grid-template-rows: 50% 50%;
        
    }
    .mainContainer>.col-6>.cholloBox>.TitleUser>div>img{
        width: 22px;
        height: 22px;
    }
    .mainContainer>.col-6>.cholloBox>.TitleUser{
        display: inline-flex;
    }
    
    .mainContainer>.col-6>.cholloBox>.likesPrecio{
	    padding-bottom: 10px;
	    padding-top: 10px;
	    border-bottom: 1px solid #EDEDED;
	    border-top: 1px solid #EDEDED;
	
    }
    
    .mainContainer>.col-6>.cholloBox>.likesPrecio>.like{
        float: left;
        display: inline-flex;
        align-items: baseline;
    	justify-content: space-between;
    	width: 26%;
    	
    }
    .mainContainer>.col-6>.cholloBox>.likesPrecio>.like>h3{
    
    	margin-bottom: 0;
    	margin-top: 0;
    
    }
    .mainContainer>.col-6>.cholloBox>.likesPrecio>.precio{
        float: right;
        display: inline-flex;
        width: 20%;
    	justify-content: space-between;
    }
    

    .mainContainer>.col-6>.cholloBox>.comentarios>.boxComentarios{
    	min-height: 147px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    display: grid;
	   	box-shadow: 0 1px 1px #ededed;
		grid-template-rows: 70px;
	   	padding-left: 15px;
    	padding-right: 15px;
		padding-top: 10px;
    	padding-bottom: 10px;
    	border: 1px solid #ddd;
    }
    
    .mainContainer>.col-6>.cholloBox>.comentarios>.boxComentarios>.infoUserComent {
    
    	border-bottom: 1px solid #EDEDED;
    	font: 700 15px/15px 'Roboto', trebuchet ms;
    
    }
    
    .mainContainer>.col-6>.cholloBox>.comentarios>.boxComentarios>.infoUserComent> h3{
    	font: 700 15px/15px 'Roboto', trebuchet ms;
    }
    
    .mainContainer>.col-6>.cholloBox>.comentarios>.boxComentarios>.infoUserComent>img {
    
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
    
    }
    
    
    .mainContainer>.col-6>.cholloBox>.comentarios>.boxComentarios>.comentarioUser{
    
    }

    

	.row .eventBox {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: white;
		float: right;
		padding: 0 18% 0 18%;
		box-shadow: 0 0.23077rem 0.38462rem 0 rgba(0, 0, 0, .25);
	}
	.row .eventBox .cholloEventBox {
		display: inline-flex;
		align-items: center;
		width: 33.33%;
		text-align: initial;
	}
	
	.imagenEvent{
		width: 118px;
		height: 118px;
	}