* {
  box-sizing: border-box;
}

::placeholder{
    color: #0093c4;
    font-weight: bold;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
     background-color:#F7F7F7;
}

body{
    display: block;
    margin: 0;
    justify-content: center;
}


html {
  font-family: "Robot", sans-serif;
}


/*------------------------------------------------*/
/*------------------------------------------------*/
/*--------------------HEADER----------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
@media only screen and (min-width: 1368px) {
    header {
        position: sticky;
        top: 0;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 28px;
        padding-top: 12px;
        display: flex;
        background-color: #002531;
        color: #2a80b9;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 84px;
        box-shadow: 0 0.23077rem 0.38462rem 0 rgba(0,0,0,.25);
    }
    
    header > a{
        display: flex;
    }
    
    header > a > img {
        width: 167px;
        height: 72px;
    }
    
    .PublicarChollo{
        background-color: white;
        width: 50%;
        margin: 3% auto 0 auto;
        box-shadow: 0 2px 2px #ECECEC;
        border-color: #2a80b9;
        border-width: 2px;
        border-style: groove;
    }
    
    .formularioPublicacion{
        padding: 5%;
    }
    
    .formularioPublicacion>input{
        width: 100%;
        height: 35px;
    }
    
    h3{
        margin-bottom: 0px;
        margin-top: 40px;
    }